<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSSFlex</title>
    <link rel="stylesheet" href="../style/css-reset.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<article>
    <header>
        <ul>
            <li><a href="../index.html">Colored Grid</a></li>
            <li><a href="gallery.html">Photo Gallery</a></li>
            <li><a href="card.html">Business Card</a></li>
        </ul>
    </header>
    <h1 class="page-title">Card</h1>
    <div class="card-container">
       <section class="card">
           <h1 class="card-title">Card</h1>
           <p class="card-text">bussiness card info</p>
       </section>
    </div>
</article>
</body>
</html>
