<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSSFlex</title>
    <link rel="stylesheet" href="../style/css-reset.css">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<article>
    <header>
        <ul>
            <li><a href="../index.html">Colored Grid</a></li>
            <li><a href="gallery.html">Photo Gallery</a></li>
            <li><a href="card.html">Business Card</a></li>
        </ul>
    </header>
    <h1 class="page-title">Photo Gallery</h1>
    <div class="container">
        <img src="../images/breakfast.jpg" alt="breakfast" class="img-1">
        <img src="../images/burgers.jpg" alt="burger" class="img-2">
        <img src="../images/camera.jpg" alt="camera" class="img-3">
        <img src="../images/morning.jpg" alt="morning" class="img-4">
        <img src="../images/hats.jpg" alt="hats" class="img-5">
        <img src="../images/honey.jpg" alt="honey" class="img-6">
        <img src="../images/vegetables.jpg" alt="vegetables" class="img-7"><figure></figure>
        <img src="../images/plant.jpg" alt="plant" class="img-8">
        <img src="../images/mushroom.jpg" alt="mushrooms" class="img-9">
        <img src="../images/olive.jpg" alt="olive" class="img-10">
        <img src="../images/star.jpg" alt="star" class="img-11">
        <img src="../images/bike.jpg" alt="bike" class="img-12">
    </div>
</article>
</body>
</html>
